$status: #555;
$border-light: #ccc;
$background-color: #38424a;
$font-color: #fff;
$font-color-dark: #222;

$font-text: 'Quicksand', serif;
$font-header: 'Poppins', sans-serif;
$font-links: 'Quicksand', serif;

$line-height: 1.4;
$body-font-size: 1rem;
